<div class='row justify-content-center'>
  <div class='col-5'>
    <h1>Edit Play</h1>

    <%= render partial: 'shared/error_messages', locals: { item: @play } %>

    <%= render partial: 'form', locals: { submit_msg: "Edit Play" } %>

  </div>
</div>

